button {
    height: 50px;
    width: 200px;
}

.first a:visited {
    color: #900060;
}

.first a:hover { 
    color: green; 
}

.first a:active {
    color: #f00;  
}

.second a:visited {
    color: #900060;
}

.second a:hover { 
    color: #0a6a95; 
}

.second a:active {
    color: #ceaa00;  
}

.third a:visited {
    color: #900060;
}

.third a:hover { 
    color: #3e7ea3; 
}

.third a:active {
    color: #cbb6ad;  
}